
.bill{
    width: 600px;
    height: 700px;
    border-style: solid;
    padding: 5px;
}
.h2-bill{
    font-size: 15px;
}
.h3-bill{
    font-size: 20px;
}
.h4-bill{
    font-size: 10px;
}
.bill-clinic-address{
    text-align: center;
}
.bill-idinvoice{
    margin-top: 20px;
}
.bill-title{
    margin-top: 50px;
    text-align: center;
}
.bill-content{
    margin-top: 50px;
}
.bill-content p{
    font-size: 10px;
}
.bill-signature{
    margin-top: 70px;
    text-align: center;
}