.site-layout-background {
    background-color: #fff !important;
}

.ant-layout{
    min-height: 100vh;
}

.ant-layout-header span.trigger svg{
    width: 20px;
    height: 20px;
    margin: 10px;
    
}

.div1-ctf{
    border-bottom-style: solid;
    padding-bottom: 20px;
}
.div-bd{
    margin-top: 10px;
}
/* Table */
.container{
  margin-top: 15px;
}
body{
  font-family: sans-serif;
  height: 100%;
}
*{
  box-sizing: border-box;
}
.tab1{
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}
.tab1 td, .tab1 th{
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab1 th{
  background-color: darkblue;
  color: #ffffff;
}

.tab1 tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
/* responsive */
@media(max-width: 767px){
.tab1 thead{
  display: none;
}
.tab1, .tab1 tbody, .tab1 tr, .tab1 td{
  display: block;
  width: 100%;
}
.table tr{
  margin-bottom: 15px;
}
.table td{
  text-align: right;
  padding-left: 50%;
  text-align: right;
  position: relative;
}
}
