.forgotPassword2-body {
  margin-top: 5rem;
  border-radius: 12px;
  height: 400px;
  background-color: rgb(218, 218, 218);
}
.forgorpassword2-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.forgotPassword2-form {
  padding-top: 2rem;
  text-align: center;
  margin: auto;
  max-width: 80%;
}


.label {
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
}
.forgotPassword2-avatar {
  width: 75px;
  height: 75px;
}
