.forgotPassword-body{
  margin-top: 5rem;
  border-radius: 12px;
  height: 400px;
  background-color: rgb(218, 218, 218);
}
.forgorpassword-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.forgotPassword-form{
  padding-top: 2rem;
  text-align: center;
  margin: auto;
  max-width: 80%;
}
.forgotpassword-input{
  border: none;
  padding: 0.35rem;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  width: 100%;
}
