.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem; 
  border-radius: 12px;
  height: 400px;
  min-width: 20%;
  background-color: rgb(218, 218, 218);
}
.login-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.alert-capslock{
  border: none;
  padding: 0.35rem;
  font-family: "Inter", sans-serif;
  margin: 0.75rem 0;
  border-radius: 4px;
  width: 100%;
}

input {
  border: none;
  padding: 0.35rem;
  font-family: "Inter", sans-serif;
  margin: 0.75rem 0;
  border-radius: 4px;
  width: 100%;
}
button {
  cursor: pointer;
  border: none;
  align-self: center;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.65rem;
  border-radius: 4px;
  color: white;
  background-color: rgb(103, 130, 205);
}
.login-error {
  color: red;
  display: none;
}
.ForgotPassword{
  text-align: right;
  font-style: italic;
  text-decoration: underline;
}