.site-layout-background {
    background-color: #fff !important;
  }
  
  .ant-layout {
    min-height: 100vh;
  }
  
  .ant-layout-header span.trigger svg {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  