.site-layout-background {
  background-color: #fff !important;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.ct-cs {
  border-bottom-style: solid;
  padding-bottom: 20px;
}
.div-bd {
  margin-top: 10px;
}

.ant-space-item {
  width: 100%;
}
.ant-picker {
  width: 100%;
}
.ant-space.ant-space-vertical {
  width: 100%;
}
.ant-form-item-control-input-content {
  width: 100%;
}
