.site-layout-background {
  background-color: #fff !important;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.csst-cs {
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.div-bd {
  margin-top: 10px;
}
.image-cs {
  text-align: center;
}
.Upload {
  text-align: center;
}
