.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.div1-pdg {
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.div2-pdg {
  margin-top: 20px;
  margin-left: 20px;
}

.Row {
  margin-top: 10px;
}
