.site-layout-background {
    background-color: #fff !important;
  }
  .ant-layout {
    height: 100vh;
  }
  
  .ant-layout-header span.trigger svg {
    width: 25px;
    height: 25px;
    margin: 10px;
  }
  .container{
    margin-top: 20px;
  }
  .div1-wh{
    border-bottom-style: solid;
    padding-bottom: 20px;
  }

  /* .ant-row Button{
    margin-top: 10px;
    width: calc(100% - 10px);
    height: 100px;
    border-style: solid;
    border-color: black;
  } */