.ant-card-head-title{
    color: red;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-body{
    font-size: 50px;
    margin: auto;
}
.card-tu{
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
.card-mn{
    width: auto;
    height: aoto;
    margin-left: 50px;
}

.title-report-day{
    font-weight: bold;
    font-size: 25px;
    font-family: Sans serif;
}

.title-report-month{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: Sans serif;
}