.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.div-issue-headercontent {
  border-bottom-style: solid;
  padding-bottom: 10px;
}
.div-issue-bodycontent {
  margin-top: 20px;
}
.select-status-issue {
  width: 150px;
}

/* Table */
.container {
  margin-top: 15px;
}
body {
  font-family: sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.tab1-issue {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}
.tab1-issue td,
.tab1-issue th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab1-issue th {
  background-color: darkblue;
  color: #ffffff;
}

.tab1-issue tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* responsive */
@media (max-width: 767px) {
  .tab1-issue thead {
    display: none;
  }
  .tab1-issue,
  .tab1-issue tbody,
  .tab1-issue tr,
  .tab1-issue td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
}
