.site-layout-background {
  background-color: #fff !important;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 20px;
  height: 20px;
  margin: 10px;
}

h2 {
  font-size: 35px;
  font-style: initial;
}
p {
  font-size: 18px;
}

.ant-space.ant-space-vertical {
  width: 100%;
}

.btn-rs {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: black;
}
h1{
  font-size: 28px;
}

.bobobo {
  border-right-style: solid;
}
/* Table */
.container {
  margin-top: 15px;
}
body {
  font-family: sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.tab1 {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}
.tab1 td,
.tab1 th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab1 th {
  background-color: darkblue;
  color: #ffffff;
}

.tab1 tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* responsive */
@media (max-width: 767px) {
  .tab1 thead {
    display: none;
  }
  .tab1,
  .tab1 tbody,
  .tab1 tr,
  .tab1 td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
}
