.site-layout-background {
    background-color: #fff !important;
  }
  
  .ant-layout {
    min-height: 100vh;
  }
  
  .ant-layout-header span.trigger svg {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  
  .div-supplier-headercontent {
    border-bottom-style: solid;
    padding-bottom: 20px;
  }
  .div-supplier-bodycontent{
    margin-top: 20px;
  }
  
/* Table */
.container{
    margin-top: 15px;
}
body{
    font-family: sans-serif;
    height: 100%;
}
*{
    box-sizing: border-box;
}
.tab-supplier-bodycontent{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}
.tab-supplier-bodycontent td, .tab-supplier-bodycontent th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.tab-supplier-bodycontent th{
    background-color: darkblue;
    color: #ffffff;
}

.tab-supplier-bodycontent tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
/* responsive */
@media(max-width: 767px){
.tab-supplier-bodycontent thead{
    display: none;
}
.tab-supplier-bodycontent, .tab-supplier-bodycontent tbody, .tab-supplier-bodycontent tr, .tab-supplier-bodycontent td{
    display: block;
    width: 100%;
}
.table tr{
    margin-bottom: 15px;
}
.table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
}
}
  