.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
  
}
.ant-picker{
  width: 100%;
  height: 38px;
}

.detailmedicalrecord-btn-back-save{
  border-bottom-style: solid;
  padding-bottom: 20px;
}