.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  min-height: 100vh;

}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.big-words {
  font-size: 34px;
  margin-left: 20px;
}
.ant-input-search-button {
  margin-bottom: 200px;
}
.ant-input-group-addon {
  height: 100px;
}

.ant-btn .ant-btn-primary .ant-btn-lg .ant-input-search-button {
  height: 50px;
}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table li{
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 25%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  .col-5{
    flex-basis: 25%;
  }
  .col-6{
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
    }

    .col ::before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
