.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100%;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
h1{
  font-size: 30px;
}

.ant-btn.ant-btn-default{
  cursor: pointer;
  border: none;
  align-self: center;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  background-color: rgb(128, 153, 221);

}
.checkup-tab-kham{
  border-right-style: solid;
}

body{
  font-family: sans-serif;
  height: 100%;
}
*{
  box-sizing: border-box;
}
.tab1{
  width: 90%;
  border-collapse: collapse;
}
.tab1 td, .tab1 th{
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab1 th{
  background-color: darkblue;
  color: #ffffff;
}

.tab1 tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
/* responsive */
@media(max-width: 767px){
.tab1 thead{
  display: none;
}
.tab1, .tab1 tbody, .tab1 tr, .tab1 td{
  display: block;
  width: 100%;
}
.table tr{
  margin-bottom: 15px;
}
.table td{
  text-align: right;
  padding-left: 50%;
  text-align: right;
  position: relative;
}
}