.site-layout-background {
    background-color: #fff !important;
}

.ant-layout{
    min-height: 100vh;
}
.site-card-wrapper{
    margin-top: 20px;
}
.ant-layout-header span.trigger svg{
    width: 20px;
    height: 20px;
    margin: 10px;
}

h1{
    font-family: serif, 'Courier New', Courier, monospace;
    color: red;
    font-weight: bolder;
    font-size: large;
}

.card-ov {
border-style: solid;
border-width: 1px;
border-color: rgb(218, 206, 206);
}

.btn-ov{
    margin-top: 5px;
    background-color: rgb(147, 147, 147);
}
