.site-layout-background {
    background-color: #fff !important;
  }
  .ant-layout {
    height: 100vh;
  }
  
  .ant-layout-header span.trigger svg {
    width: 25px;
    height: 25px;
    margin: 10px;
  }
  .div-createservice-headercontent {
    border-bottom-style: solid;
    padding-bottom: 20px;
  }
  .div-createservice-bodycontent {
    margin-top: 20px;
  }
  /* Table */
  .container {
    margin-top: 15px;
  }
  body {
    font-family: sans-serif;
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
  .tab1-createservice {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
  }
  .tab1-createservice td,
  .tab1-createservice th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .tab1-createservice th {
    background-color: darkblue;
    color: #ffffff;
  }
  
  .tab1-createservice tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  /* responsive */
  @media (max-width: 767px) {
    .tab1-createservice thead {
      display: none;
    }
    .tab1-createservice,
    .tab1-createservice tbody,
    .tab1-createservice tr,
    .tab1-createservice td {
      display: block;
      width: 100%;
    }
    .table tr {
      margin-bottom: 15px;
    }
    .table td {
      text-align: right;
      padding-left: 50%;
      text-align: right;
      position: relative;
    }
  }
  