.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.div-service-headercontent {
  border-bottom-style: solid;
  padding-bottom: 20px;
}
.div-service-bodycontent {
  margin-top: 20px;
}
/* Table */
.container {
  margin-top: 15px;
}
body {
  font-family: sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.tab1-service {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}
.tab1-service td,
.tab1-service th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab1-service th {
  background-color: darkblue;
  color: #ffffff;
}

.tab1-service tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* responsive */
@media (max-width: 767px) {
  .tab1-service thead {
    display: none;
  }
  .tab1-service,
  .tab1-service tbody,
  .tab1-service tr,
  .tab1-service td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
}
