.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;

}
.detail-receive-div-btn-save{
  border-bottom-style: solid;
  padding-bottom: 20px;
}
