.site-layout-background {
  background-color: #fff !important;
}
.ant-layout {
  height: 100vh;
}

.ant-layout-header span.trigger svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.div-receipt-headercontent {
  border-bottom-style: solid;
  padding-bottom: 20px;
}
.div-receipt-bodycontent {
  margin-top: 20px;
}
.body-left-receipt{
  border-right-style: solid ;
  height: 100%;
  margin-right: 20px;
}
.card-receipt {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(218, 206, 206);
}


/* Table */
.container {
  margin-top: 15px;
}
body {
  font-family: sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.tab1-receipt {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}
.tab1-receipt td,
.tab1-receipt th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.tab1-receipt th {
  background-color: darkblue;
  color: #ffffff;
}

  
.tab1-receipt tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* responsive */
@media (max-width: 767px) {
  .tab1-receipt thead {
    display: none;
  }
  .tab1-receipt,
  .tab1-receipt tbody,
  .tab1-receipt tr,
  .tab1-receipt td {
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  }
